        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body, html, #root {
            height: min-content;
            margin: 0;
            padding: 0;
            color: black;
            scrollbar-width: none;
            background: rgb(14,1,126);
            background: linear-gradient(90deg, rgba(14,1,126,1) 0%, rgba(255,249,206,1) 0%, rgba(255,219,219,1) 100%);
        }  

        .Container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            font-family:Arial, Helvetica, sans-serif;
            color: black;
        }

        .Navigation-container {
            display: flex;
            flex-direction: row;
        }

        .banner-container {
            position: absolute;
            top: 0;
            width: 100%;
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(188,0,0);
            background: linear-gradient(90deg, rgba(188,0,0,1) 0%, rgba(123,0,155,1) 100%);
            box-shadow: 0px 0px 10px 1px rgb(255,81,47,1);
        }

        .banner-container a, .banner-container img {
            text-decoration: none;
            display: flex;
            align-self: center;
        }

        .banner-heading{
            font-family: "Lora", sans-serif;
            color: white;
            font-size: 50px;
            font-weight: 100;
        }

        .Icons {
            margin-left: 20px;
            align-self: center;
            align-items: center;
            color: white;
            position: relative;
            left: 100px;
            background-color: transparent ;
            transition: 0.1s ease-in-out;

        }

        .Icons:hover {
            color: rgb(157, 0, 255);
            background-color: transparent;
            cursor: pointer;
        }

        nav ul{
            display: flex;
            flex-direction: row;
            text-decoration: none;
            list-style-type: none;
            justify-content: space-around;
        }
        
        nav {
            width: 100%;
            position: absolute;
            top: 130px;
        }

        nav a {
            height: 60px;
            width: 200px;
            justify-content: center;
            color: linear-gradient(#2b5876 0%, #4e4376  51%);            
            border-radius: 7px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            text-decoration: none;
            font-family: Roboto, 'Courier New';
            font-weight: 100;
            transition: all 0.3s ease-in-out;
        }

        nav a:hover {
            background-position: right center; /* change the direction of the change here */
            background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%);
            box-shadow: 0 0 10px 1px #DD2476;
            text-decoration: none;
            color: white;
            transition: all 0.3s ease-in-out;
        }

        nav li.active a{
            background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%);
            color: white;
            box-shadow: 0 0 10px 1px #DD2476;
        }

        .foroforwrapper {
            height: min-content;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-top: 240px;
            font-size: 30px;
            font-family: 'Sans-serif';
        }

        .Home-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .Home-container h1 {
            margin: auto;
            align-self: center;
            width: 95%;
        }

        .desc-wrapper h1 {
            width: 100%;
            text-align: center;
            font-size: 35px;
        }

        .desc-wrapper {
            border: 1px solid rgb(255, 255, 255);
            background-color: white;
            width: 80%;
            border-radius: 5px;
            padding: 20px 30px;
            font-family: Roboto, 'Courier New', Courier, monospace;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 50px;
            margin-top: 250px;
        }

        .leaderboard-container {
            border-radius: 10px;
            margin-bottom: 100px;
            width: 80%;
            overflow: hidden;
            background-color: white;
            margin-top: 250px;  
        }
        
        .leaderboard-title{
            width: 100%;
            height: 50px;
            align-items: center;
            background-color: #2b5876;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            padding-left: 40px;
            color: #ffffff;
        }

        .leaderboard-title #by, .leaderboard-title #ratings {
            position: relative;
            right: 50px;
        }

        .leaderboard-title #by {
            right: 80px;
        }

        .leaderboard-title ul {
            list-style-type: decimal;
        }
        
        .leaderboard-title li {
            font-weight: 900;
            font-family: Arial, sans-serif;
            font-size: 1.7rem;
            text-transform: uppercase;
        }
        
        .leaderboard-container ul {
            list-style-type: none;
            display: grid;
            width: 100%;
            grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
            font-size: larger;
        }
        
        .leaderboard-container #Players {
            font-weight: 700;
            font-family: Poppins ,monospace;
        }
        
        .playerscontainer {
            display: flex;
            align-items: center;
            color:#2b5876;
            font-size: larger;
            max-height: 65px;
        }

        .playerscontainer:nth-child(even) {
            background: rgb(255, 255, 255) 100%;
        }
        
        .playerscontainer:nth-child(odd) {
            background: rgb(238, 238, 238) 100%;
        }
    
        .tournament-wrapper {
            z-index: 1;
        }

        .Loading {
            margin-top: 300px;
        }

        .Dynamic-wrapper {
            margin-top: 250px;
        }

        .list-wrapper {
            margin-top: 100px;
            display: flex;
            flex-direction: column-reverse;
            width: 90%;
            top: 140px;
            position: absolute;
            padding-bottom: 50px;
        }
        
        .tournament-wrapper {
            text-decoration: none;
            margin-bottom: 15px;
        }
        
        .tournament-wrapper ul {
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            max-width: 100%;
            background-color: white;
            margin: 0;
            padding: 10px 30px;
            transition: 0.1s ease-in-out all;
        }
        
        .tournament-wrapper ul:hover {
            background: linear-gradient(to right, #f5ce62, #e43603);
            background-size: 200% auto; /* Enable background position transition */
            background-position: right center; /* Change the initial background position */
            box-shadow: 0 4px 15px 0 rgba(198, 112, 0, 0.983);
        }
        
        .tournament-wrapper ul:hover h1, .tournament-wrapper ul:hover p {
            color: white
        }
        .tournament-wrapper a {
            text-decoration: none;
            color: black; /* Ensure the text is readable */
        }
        .disabled-link {
            color: gray;
            cursor: default;
        }
        
        .disabled-link li h1,
        .disabled-link li p {
            color: gray;
        }
        .Dynamic-wrapper h1 {
            font-size: 45px;
        }
        .Dynamic-wrapper{
            margin-top: 200px;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 20px;
            margin-bottom: 100px;
        }
        .Content {
            display: flex;
            align-self: flex-start;
            flex-direction: column;
            width: max-content;
            padding: 0 20px 20px 20px;
            font-size: 27px;
            border-radius: 8px;
        }

        .Content ul {
            list-style-type: none;
            display: flex;
            align-items: start;
            padding: 0;
            gap: 7px;
            margin: 0;;
            flex-direction: column;
        }

        .round-style  {
            position: absolute;
            border-radius: 10px 10px 0 0;
            width: 90%;
            text-decoration: none;
            display: flex;
            list-style-type: none;
            gap: 20px;
            font-size: 35px;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 10px;
            padding: 0 20px;
            align-items: center;
            color: white;
            background: #67B26F;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .round-style h2 {
            font-size: 30px;
        }

        .round-style li {
            color: white;
            transition: 0.3s all ease-in-out;
            padding: 5px 20px;
            border-radius: 5px;
            transition: 0.15s all ease-in-out;
        }

        .round-style li:hover {
            border-bottom: 5px solid rgb(25, 211, 0);
            transition: 0.15s all ease-in-out;
            background-color: rgb(0, 237, 0);
            box-shadow: 0 3px 10px 1px rgb(12, 236, 0);
        }
        
        .round-style li:active {
            border-bottom: 0px;
            transition: 0.15s all ease-in-out;
            box-shadow: none;
        }

        .round-style .active{
            background: rgb(222, 0, 0);
            box-shadow: 0 3px 10px 1px rgb(209, 0, 0);
        }

        .Rounds-container a {
            text-decoration: none;
        }

        .pairings {
            background: linear-gradient(135deg, #1e3c72, #2a5298);
            padding: 20px;
            border-radius: 0 0 10px 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 90vw;
            margin: 94px auto;
            text-align: left;
            color: white;
            font-family: 'Arial', sans-serif;
          }
          
          .pairings ul {
            padding: 0;
            margin: 0;
          }
          
          .pairings li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 10px;
            border-radius: 5px;
          }
          
          .player {
            flex: 1;
            font-weight: bold;
          }
          
          .vs {
            flex: 0.5;
            text-align: center;

          }
          
          .result {
            flex: 0.5;
            text-align: right;
            font-style: italic;
          }
          
          .pairings li:last-child {
            margin-bottom: 0;
          }